$navbarHeight: 60px;
$sidebarWidth: 266px;

.l-layout-two {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f6f6f7;

  .l-navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: $navbarHeight;
    background-color: #fff;

    .navbar__left {
      flex: 1;
    }

    .navbar__right {
      padding-right: 20px;
    }
  }

  .l-main {
    flex: 1;
    display: flex;
    height: 0;

    .l-sidebar {
      width: $sidebarWidth;
      background-color: #fff;
    }

    .app-main {
      flex: 1;
      padding: 20px;
    }
  }
}
