.l-layout-one {
  display: flex;
  height: 100vh;
  background-color: #fff;

  .l-sidebar {
    z-index: 20;
    border-right: 1px solid var(--el-border-color);

    .el-scrollbar {
      background-color: #fff;
    }
  }

  .l-main {
    flex: 1;

    .el-scrollbar__view {
      display: flex;
      flex-direction: column;
      height: 100%;

      .navbar__wrap {
        z-index: 10;

        &.fixed-header {
          position: fixed;
          top: 0;
          right: 0;
          width: calc(100% - $sidebarWidth);

          & + .app-main {
            margin-top: 60px;
          }
        }

        .l-navbar {
          height: $navbarHeight;
          border-bottom: 1px solid var(--el-border-color);
        }
      }

      .app-main {
        flex: 1;
        padding: 20px;
      }
    }
  }
}
