.l-layout-one {
  display: flex;
  height: 100vh;
  background-color: #f6f6f7;

  .l-sidebar {
    .el-scrollbar {
      background-color: #fff;
    }
  }

  .l-main {
    flex: 1;

    .el-scrollbar__view {
      display: flex;
      flex-direction: column;
      height: 100%;

      .fixed-header {
        position: fixed;
        top: 0;
        right: 0;
        width: calc(100% - $sidebarWidth);

        & + .app-main {
          margin-top: 60px;
        }
      }

      .l-navbar {
        height: $navbarHeight;
      }

      .app-main {
        flex: 1;
        padding: 20px;
      }
    }
  }
}
