/* element plus */
// 避免按需引入时覆盖变量，自定义类名来提升权重
:root.vat {
  --el-color-primary: var(--color-primary);
  --el-color-primary-light-3: var(--color-primary-light-3);
  --el-color-primary-light-5: var(--color-primary-light-5);
  --el-color-primary-light-7: var(--color-primary-light-7);
  --el-color-primary-light-8: var(--color-primary-light-8);
  --el-color-primary-light-9: var(--color-primary-light-9);
  --el-color-primary-dark-2: var(--color-primary-dark-2);
  --el-color-success: var(--color-success);
  --el-color-success-light-3: var(--color-success-light-3);
  --el-color-success-light-5: var(--color-success-light-5);
  --el-color-success-light-7: var(--color-success-light-7);
  --el-color-success-light-8: var(--color-success-light-8);
  --el-color-success-light-9: var(--color-success-light-9);
  --el-color-success-dark-2: var(--color-success-dark-2);
  --el-color-warning: var(--color-warning);
  --el-color-warning-light-3: var(--color-warning-light-3);
  --el-color-warning-light-5: var(--color-warning-light-5);
  --el-color-warning-light-7: var(--color-warning-light-7);
  --el-color-warning-light-8: var(--color-warning-light-8);
  --el-color-warning-light-9: var(--color-warning-light-9);
  --el-color-warning-dark-2: var(--color-warning-dark-2);
  --el-color-danger: var(--color-danger);
  --el-color-danger-light-3: var(--color-danger-light-3);
  --el-color-danger-light-5: var(--color-danger-light-5);
  --el-color-danger-light-7: var(--color-danger-light-7);
  --el-color-danger-light-8: var(--color-danger-light-8);
  --el-color-danger-light-9: var(--color-danger-light-9);
  --el-color-danger-dark-2: var(--color-danger-dark-2);
  --el-color-error: var(--color-error);
  --el-color-error-light-3: var(--color-error-light-3);
  --el-color-error-light-5: var(--color-error-light-5);
  --el-color-error-light-7: var(--color-error-light-7);
  --el-color-error-light-8: var(--color-error-light-8);
  --el-color-error-light-9: var(--color-error-light-9);
  --el-color-error-dark-2: var(--color-error-dark-2);
  --el-color-info: var(--color-info);
  --el-color-info-light-3: var(--color-info-light-3);
  --el-color-info-light-5: var(--color-info-light-5);
  --el-color-info-light-7: var(--color-info-light-7);
  --el-color-info-light-8: var(--color-info-light-8);
  --el-color-info-light-9: var(--color-info-light-9);
  --el-color-info-dark-2: var(--color-info-dark-2);
  --el-box-shadow: var(--box-shadow);
  --el-box-shadow-light: var(--box-shadow-light);
  --el-box-shadow-lighter: var(--box-shadow-lighte);
  --el-box-shadow-dark: var(--box-shadow-dar);
  --el-bg-color: var(--bg-color);
  --el-bg-color-page: var(--bg-color-page);
  --el-bg-color-overlay: var(--bg-color-overlay);
  --el-text-color-primary: var(--text-color-primary);
  --el-text-color-regular: var(--text-color-regular);
  --el-text-color-secondary: var(--text-color-secondary);
  --el-text-color-placeholder: var(--text-color-placeholder);
  --el-text-color-disabled: var(--text-color-disabled);
  --el-border-color: var(--border-color);
  --el-border-color-light: var(--border-color-light);
  --el-border-color-lighter: var(--border-color-lighter);
  --el-border-color-extra-light: var(--border-color-extra-light);
  --el-border-color-dark: var(--border-color-dark);
  --el-border-color-darker: var(--border-color-darker);
  --el-fill-color: var(--fill-color);
  --el-fill-color-light: var(--fill-color-light);
  --el-fill-color-lighter: var(--fill-color-lighter);
  --el-fill-color-extra-light: var(--fill-color-extra-light);
  --el-fill-color-dark: var(--fill-color-dark);
  --el-fill-color-darker: var(--fill-color-darker);
  --el-fill-color-blank: var(--fill-color-blank);
  --el-mask-color: var(--mask-color);
  --el-mask-color-extra-light: var(--mask-color-extra-light);
}
