:root {
  --sidebar-width: 208px;
  --navbar-height: 48px;
}

.l-container {
  display: flex;
}

// sidebar
.l-sidebar {
  position: relative;
  z-index: 20;
  flex-shrink: 0;
  width: var(--sidebar-width);
  min-height: 100vh;
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow-light);
  transition: 0.3s;
  overflow: hidden;

  &.is-collapse:not(.is-hide) {
    --sidebar-width: 48px;
  }

  &.is-hide {
    --sidebar-width: 0px;
  }
}

.l-sidebar__inner {
  display: flex;
  flex-direction: column;
  height: 100%;

  &.is-fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: inherit;
    overflow: hidden;
  }

  .l-sidebar__header {
    flex-shrink: 0;
  }

  .l-sidebar__body {
    flex: 1;
    overflow: hidden auto;

    /* 隐藏浏览器默认滚动条 */
    &::-webkit-scrollbar {
      width: 6px;
    }

    /* 滚动条轨道 */
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    /* 滚动条滑块 */
    &::-webkit-scrollbar-thumb {
      background-color: #aaa;
      border-radius: 4px;
    }

    /* 滚动条滑块悬停时的样式 */
    & ::-webkit-scrollbar-thumb:hover {
      background: red;
    }
  }

  .l-sidebar__footer {
    flex-shrink: 0;
  }
}

// main
.l-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  // bugfix：解决 x 轴溢出
  width: 0;
  background: var(--bg-color-page);
}

// navbar
.l-navbar {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: 16px;
  height: var(--navbar-height);
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow-light);
  transition: 0.3s;
  overflow: hidden;

  &.is-fixed {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;

    &:not(.is-hide) + .app-main {
      margin-top: var(--navbar-height);
    }
  }

  &.is-hide {
    --navbar-height: 0px;
  }
}

// app-main
.app-main {
  flex: 1;
  padding: 16px;
  transition: 0.3s;
}

// page-footer
.page-footer {
  flex-shrink: 0;
  margin: 70px 0 30px;
  text-align: center;
  font-size: 14px;
  color: var(--text-color-regular);
  vertical-align: bottom;

  a {
    color: var(--text-color-regular);
    text-decoration: none;
    transition: 0.2s;

    &:hover {
      color: var(--text-color-primary);
    }
  }

  .separate-bar {
    margin: 0 16px;
  }

  i[class*='fa-'] {
    font-size: 16px;
  }
}

// 其他尺寸
@media (max-width: 992px) {
  // todo
}
