{
  "$schema": "https://json.schemastore.org/prettierrc",
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 160,
  "quoteProps": "consistent",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "vueIndentScriptAndStyle": true
}
