@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  line-height: normal;
  color: var(--text-color-regular);
}

body {
  height: 100%;
}
