// 清除 ul 默认样式
.clear-ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

// 清除浮动
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
}

.clearfix::after {
  clear: both;
  height: 0;
  visibility: hidden;
}

// 单行溢出
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 多行溢出
.ellipsis--multi {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

// 隐藏
.hide {
  display: none !important;
}

// 显示
.show {
  display: block !important;
}

.pointer {
  cursor: pointer;
}
