@import "./variables.scss";
@import "./mixin.scss";
@import "//at.alicdn.com/t/c/font_3418183_9laupt23m2j.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#app {
  height: 100%;
}

.hide {
  display: none;
}

/* layout */
.app__container {
  display: flex;

  /* sidebar */
  .sidebar__container {
    flex-shrink: 0;
    width: $sidebarWidth;
    min-height: 100vh;
    background-color: #282c34;

    // 关闭 sidebar
    &.sidebar--closed {
      width: 48px;
    }

    .sidebar__wrap {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      width: inherit;
      height: 100%;

      // 固定 sidebar
      &.sidebar--fixed {
        position: fixed;
      }

      .sidebar__header {
        flex-shrink: 0;
      }

      .sidebar__main {
        @include scrollBar;
        flex-grow: 1;
        overflow: hidden auto;
      }
    }
  }

  /* main */
  .main__container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .navbar__container {
      flex-shrink: 0;
      height: 48px;
      background-color: #fff;
      box-shadow: 0 1px 4px rgb(0 21 41 / 8%);

      // 固定 navbar
      &.navbar--fixed:not(.hide) {
        position: fixed;
        top: 0;
        right: 0;
        width: calc(100% - $sidebarWidth);

        & ~ .app-main {
          margin-top: 48px;
        }
      }
    }

    .app-main {
      flex-grow: 1;
      background-color: #f6f8f9;
    }
  }
}
