:root[data-theme='dark'] {
  color-scheme: dark;
  --color-primary: #f8d875;
  --color-primary-light-1: #dfc269;
  --color-primary-light-2: #c6ad5e;
  --color-primary-light-3: #ae9752;
  --color-primary-light-4: #958246;
  --color-primary-light-5: #7c6c3b;
  --color-primary-light-6: #63562f;
  --color-primary-light-7: #4a4123;
  --color-primary-light-8: #322b17;
  --color-primary-light-9: #19160c;
  --color-primary-dark-1: #f9dc83;
  --color-primary-dark-2: #f9e091;
  --color-primary-dark-3: #fae49e;
  --color-primary-dark-4: #fbe8ac;
  --color-primary-dark-5: #fcecba;
  --color-primary-dark-6: #fcefc8;
  --color-primary-dark-7: #fdf3d6;
  --color-primary-dark-8: #fef7e3;
  --color-primary-dark-9: #fefbf1;
  --color-success: #67c23a;
  --color-success-light-1: #5daf34;
  --color-success-light-2: #529b2e;
  --color-success-light-3: #488829;
  --color-success-light-4: #3e7423;
  --color-success-light-5: #34611d;
  --color-success-light-6: #294e17;
  --color-success-light-7: #1f3a11;
  --color-success-light-8: #15270c;
  --color-success-light-9: #0a1306;
  --color-success-dark-1: #76c84e;
  --color-success-dark-2: #85ce61;
  --color-success-dark-3: #95d475;
  --color-success-dark-4: #a4da89;
  --color-success-dark-5: #b3e19d;
  --color-success-dark-6: #c2e7b0;
  --color-success-dark-7: #d1edc4;
  --color-success-dark-8: #e1f3d8;
  --color-success-dark-9: #f0f9eb;
  --color-info: #909399;
  --color-info-light-1: #82848a;
  --color-info-light-2: #73767a;
  --color-info-light-3: #65676b;
  --color-info-light-4: #56585c;
  --color-info-light-5: #484a4d;
  --color-info-light-6: #3a3b3d;
  --color-info-light-7: #2b2c2e;
  --color-info-light-8: #1d1d1f;
  --color-info-light-9: #0e0f0f;
  --color-info-dark-1: #9b9ea3;
  --color-info-dark-2: #a6a9ad;
  --color-info-dark-3: #b1b3b8;
  --color-info-dark-4: #bcbec2;
  --color-info-dark-5: #c8c9cc;
  --color-info-dark-6: #d3d4d6;
  --color-info-dark-7: #dedfe0;
  --color-info-dark-8: #e9e9eb;
  --color-info-dark-9: #f4f4f5;
  --color-warning: #e6a23c;
  --color-warning-light-1: #cf9236;
  --color-warning-light-2: #b88230;
  --color-warning-light-3: #a1712a;
  --color-warning-light-4: #8a6124;
  --color-warning-light-5: #73511e;
  --color-warning-light-6: #5c4118;
  --color-warning-light-7: #453112;
  --color-warning-light-8: #2e200c;
  --color-warning-light-9: #171006;
  --color-warning-dark-1: #e9ab50;
  --color-warning-dark-2: #ebb563;
  --color-warning-dark-3: #eebe77;
  --color-warning-dark-4: #f0c78a;
  --color-warning-dark-5: #f3d19e;
  --color-warning-dark-6: #f5dab1;
  --color-warning-dark-7: #f8e3c5;
  --color-warning-dark-8: #faecd8;
  --color-warning-dark-9: #fdf6ec;
  --color-danger: #f56c6c;
  --color-danger-light-1: #dd6161;
  --color-danger-light-2: #c45656;
  --color-danger-light-3: #ac4c4c;
  --color-danger-light-4: #934141;
  --color-danger-light-5: #7b3636;
  --color-danger-light-6: #622b2b;
  --color-danger-light-7: #492020;
  --color-danger-light-8: #311616;
  --color-danger-light-9: #190b0b;
  --color-danger-dark-1: #f67b7b;
  --color-danger-dark-2: #f78989;
  --color-danger-dark-3: #f89898;
  --color-danger-dark-4: #f9a7a7;
  --color-danger-dark-5: #fab6b6;
  --color-danger-dark-6: #fbc4c4;
  --color-danger-dark-7: #fcd3d3;
  --color-danger-dark-8: #fde2e2;
  --color-danger-dark-9: #fef0f0;
  --color-error: #f56c6c;
  --color-error-light-1: #dd6161;
  --color-error-light-2: #c45656;
  --color-error-light-3: #ac4c4c;
  --color-error-light-4: #934141;
  --color-error-light-5: #7b3636;
  --color-error-light-6: #622b2b;
  --color-error-light-7: #492020;
  --color-error-light-8: #311616;
  --color-error-light-9: #190b0b;
  --color-error-dark-1: #f67b7b;
  --color-error-dark-2: #f78989;
  --color-error-dark-3: #f89898;
  --color-error-dark-4: #f9a7a7;
  --color-error-dark-5: #fab6b6;
  --color-error-dark-6: #fbc4c4;
  --color-error-dark-7: #fcd3d3;
  --color-error-dark-8: #fde2e2;
  --color-error-dark-9: #fef0f0;
  --box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.36), 0px 8px 20px rgba(0, 0, 0, 0.72);
  --box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.72);
  --box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.72);
  --box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.72), 0px 12px 32px #000000, 0px 8px 16px -8px #000000;
  --bg-color-page: #0a0a0a;
  --bg-color: #141414;
  --bg-color-overlay: #1d1e1f;
  --text-color-primary: #e5eaf3;
  --text-color-regular: #cfd3dc;
  --text-color-secondary: #a3a6ad;
  --text-color-placeholder: #8d9095;
  --text-color-disabled: #6c6e72;
  --border-color-darker: #636466;
  --border-color-dark: #58585b;
  --border-color: #4c4d4f;
  --border-color-light: #414243;
  --border-color-lighter: #363637;
  --border-color-extra-light: #2b2b2c;
  --fill-color-darker: #424243;
  --fill-color-dark: #39393a;
  --fill-color: #303030;
  --fill-color-light: #262727;
  --fill-color-lighter: #1d1d1d;
  --fill-color-extra-light: #191919;
  --fill-color-blank: transparent;
  --mask-color: rgba(0, 0, 0, 0.8);
  --mask-color-extra-light: rgba(0, 0, 0, 0.3);
}
