:root[data-theme='light'] {
  color-scheme: light;
  --color-primary: #165dff;
  --color-primary-light-1: #2d6dff;
  --color-primary-light-2: #457dff;
  --color-primary-light-3: #5c8eff;
  --color-primary-light-4: #739eff;
  --color-primary-light-5: #8baeff;
  --color-primary-light-6: #a2beff;
  --color-primary-light-7: #b9ceff;
  --color-primary-light-8: #d0dfff;
  --color-primary-light-9: #e8efff;
  --color-primary-dark-1: #1454e6;
  --color-primary-dark-2: #124acc;
  --color-primary-dark-3: #0f41b3;
  --color-primary-dark-4: #0d3899;
  --color-primary-dark-5: #0b2f80;
  --color-primary-dark-6: #092566;
  --color-primary-dark-7: #071c4c;
  --color-primary-dark-8: #041333;
  --color-primary-dark-9: #02091a;
  --color-success: #67c23a;
  --color-success-light-1: #76c84e;
  --color-success-light-2: #85ce61;
  --color-success-light-3: #95d475;
  --color-success-light-4: #a4da89;
  --color-success-light-5: #b3e19d;
  --color-success-light-6: #c2e7b0;
  --color-success-light-7: #d1edc4;
  --color-success-light-8: #e1f3d8;
  --color-success-light-9: #f0f9eb;
  --color-success-dark-1: #5daf34;
  --color-success-dark-2: #529b2e;
  --color-success-dark-3: #488829;
  --color-success-dark-4: #3e7423;
  --color-success-dark-5: #34611d;
  --color-success-dark-6: #294e17;
  --color-success-dark-7: #1f3a11;
  --color-success-dark-8: #15270c;
  --color-success-dark-9: #0a1306;
  --color-info: #909399;
  --color-info-light-1: #9b9ea3;
  --color-info-light-2: #a6a9ad;
  --color-info-light-3: #b1b3b8;
  --color-info-light-4: #bcbec2;
  --color-info-light-5: #c8c9cc;
  --color-info-light-6: #d3d4d6;
  --color-info-light-7: #dedfe0;
  --color-info-light-8: #e9e9eb;
  --color-info-light-9: #f4f4f5;
  --color-info-dark-1: #82848a;
  --color-info-dark-2: #73767a;
  --color-info-dark-3: #65676b;
  --color-info-dark-4: #56585c;
  --color-info-dark-5: #484a4d;
  --color-info-dark-6: #3a3b3d;
  --color-info-dark-7: #2b2c2e;
  --color-info-dark-8: #1d1d1f;
  --color-info-dark-9: #0e0f0f;
  --color-warning: #e6a23c;
  --color-warning-light-1: #e9ab50;
  --color-warning-light-2: #ebb563;
  --color-warning-light-3: #eebe77;
  --color-warning-light-4: #f0c78a;
  --color-warning-light-5: #f3d19e;
  --color-warning-light-6: #f5dab1;
  --color-warning-light-7: #f8e3c5;
  --color-warning-light-8: #faecd8;
  --color-warning-light-9: #fdf6ec;
  --color-warning-dark-1: #cf9236;
  --color-warning-dark-2: #b88230;
  --color-warning-dark-3: #a1712a;
  --color-warning-dark-4: #8a6124;
  --color-warning-dark-5: #73511e;
  --color-warning-dark-6: #5c4118;
  --color-warning-dark-7: #453112;
  --color-warning-dark-8: #2e200c;
  --color-warning-dark-9: #171006;
  --color-danger: #f56c6c;
  --color-danger-light-1: #f67b7b;
  --color-danger-light-2: #f78989;
  --color-danger-light-3: #f89898;
  --color-danger-light-4: #f9a7a7;
  --color-danger-light-5: #fab6b6;
  --color-danger-light-6: #fbc4c4;
  --color-danger-light-7: #fcd3d3;
  --color-danger-light-8: #fde2e2;
  --color-danger-light-9: #fef0f0;
  --color-danger-dark-1: #dd6161;
  --color-danger-dark-2: #c45656;
  --color-danger-dark-3: #ac4c4c;
  --color-danger-dark-4: #934141;
  --color-danger-dark-5: #7b3636;
  --color-danger-dark-6: #622b2b;
  --color-danger-dark-7: #492020;
  --color-danger-dark-8: #311616;
  --color-danger-dark-9: #190b0b;
  --color-error: #f56c6c;
  --color-error-light-1: #f67b7b;
  --color-error-light-2: #f78989;
  --color-error-light-3: #f89898;
  --color-error-light-4: #f9a7a7;
  --color-error-light-5: #fab6b6;
  --color-error-light-6: #fbc4c4;
  --color-error-light-7: #fcd3d3;
  --color-error-light-8: #fde2e2;
  --color-error-light-9: #fef0f0;
  --color-error-dark-1: #dd6161;
  --color-error-dark-2: #c45656;
  --color-error-dark-3: #ac4c4c;
  --color-error-dark-4: #934141;
  --color-error-dark-5: #7b3636;
  --color-error-dark-6: #622b2b;
  --color-error-dark-7: #492020;
  --color-error-dark-8: #311616;
  --color-error-dark-9: #190b0b;
  --box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04), 0px 8px 20px rgba(0, 0, 0, 0.08);
  --box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.12);
  --box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.12);
  --box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.08), 0px 12px 32px rgba(0, 0, 0, 0.12), 0px 8px 16px -8px rgba(0, 0, 0, 0.16);
  --bg-color: #ffffff;
  --bg-color-page: #f2f3f5;
  --bg-color-overlay: #ffffff;
  --text-color-primary: #303133;
  --text-color-regular: #606266;
  --text-color-secondary: #909399;
  --text-color-placeholder: #a8abb2;
  --text-color-disabled: #c0c4cc;
  --border-color: #dcdfe6;
  --border-color-light: #e4e7ed;
  --border-color-lighter: #ebeef5;
  --border-color-extra-light: #f2f6fc;
  --border-color-dark: #d4d7de;
  --border-color-darker: #cdd0d6;
  --fill-color: #f0f2f5;
  --fill-color-light: #f5f7fa;
  --fill-color-lighter: #fafafa;
  --fill-color-extra-light: #fafcff;
  --fill-color-dark: #ebedf0;
  --fill-color-darker: #e6e8eb;
  --fill-color-blank: #ffffff;
  --mask-color: rgba(255, 255, 255, 0.9);
  --mask-color-extra-light: rgba(255, 255, 255, 0.3);
}
