.l-layout-one {
  $sidebarWidth: 266px;
  $navbarHeight: 60px;
  $tagViewHeight: 50px;

  display: flex;
  height: 100vh;
  background-color: #f6f6f7;

  .l-sidebar {
    width: $sidebarWidth;

    .c-logo {
      height: 60px;
      background-color: #fff;
    }

    .el-scrollbar {
      background-color: #fff;
    }
  }

  .l-main {
    flex: 1;
    width: 0;

    .el-scrollbar__view {
      display: flex;
      flex-direction: column;
      height: 100%;

      .l-navbar {
        position: relative;
        top: 0;
        left: 0;

        &.fixed-header {
          position: fixed;
          top: 0;
          left: calc($sidebarWidth);
          width: 100%;

          & + .app-main {
            margin-top: 60px;
          }
        }

        .c-navbar {
          height: $navbarHeight;
        }

        .c-tags-view {
          height: $tagViewHeight;
        }
      }

      .app-main {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 20px;

        .app-main__inner {
          flex: 1;
          height: 0;
        }

        .c-copy-right {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 20px;
          height: 60px;
          font-size: 14px;
          border: 1px solid var(--el-border-color);
          border-radius: 8px;
          background-color: #fff;
        }
      }
    }
  }
}
