.l-layout-one {
  .l-sidebar {
    .el-menu {
      border-right: none;
      width: $sidebarWidth;

      .svg-icon {
        margin-right: 12px;
      }

      &.el-menu--collapse {
        width: $sidebarCollapseWidth;

        .svg-icon {
          flex: 1;
          margin-right: 0;
          transform: scale(1.25);
        }

        .el-sub-menu__title {
          padding: 0;
        }
      }
    }
  }
}
